<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <h2>Edit the details of the <%=user.email%></h2>
    <form method="post" action="/users/<%=user.id%>?_method=PATCH">
        <textarea name="username" ><%=user.username%></textarea>
        <input type="password" name="password" placeholder="Enter the password">
        <button type="submit">Edit</button>
    </form>
</body>
</html>