<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home </title>
</head>
<body>
    <h2>Count of all the users: <%= count %></h2>
    <a href="/users">Users</a>
</body>
</html>